.staff-item {
  margin: 20px 0;
  text-align: center;
  border: grey 1px solid;
  border-radius: 5px;
  background-color: rgba(13, 110, 253, 0.2);
  position: relative;
}

.staff-item:hover a {
  text-decoration: none;
}

.staff-item:hover {
  cursor: pointer;
  background-color: rgba(13, 110, 253, 0.4);
}

.staff-item:hover .del-staff-btn {
  display: inline-block;
}

.del-staff-btn {
  position: absolute;
  display: none;
  font-size: 15px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.staff-item img {
  width: 150px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.header-function {
  display: flex;
  justify-content: space-between;
}

.header-function input,span {
  margin: 0 10px;
}

.header-right-box {
  display: flex;

}

.search-form {
  display: flex;
}
