.staff-salary-item {
  margin: 20px 0;
  padding: 15px;
  text-align: left;
  border: grey 1px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.staff-salary-item:hover {
  cursor: pointer;
  background-color: rgba(212, 212, 212, 0.4);
}

.salary-line {
  background-color: rgba(13, 110, 253, 0.4);
  padding: 5px;
  border-radius: 5px;
}


